body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding: 7px 10px;
}

:root {
  --primary-color-- : #FFDE59;
  --secondary-color-- : #38B6FF;
  --tertiary-color-- : #FF914D;
  --font-h1-- : "Open Sans";
  --font-h2-- : "Segoe UI"
}

h1{
  text-align: center;
  font-weight: bold;
  margin: 0px;
  font-family: var(--font-h1--);
  color: var(--primary-color--);
  font-size: 35px;
}

h1 span {
  color: whitesmoke;
}



p {
  text-align: center;
  font-size: 17px;
}

a{
  text-decoration: none;
  list-style: none;
}

h2{
  color: var(--tertiary-color--);
  text-align: center;
  font-size: 30px;
  font-family: var(--font-h2--);
  text-transform: uppercase;
}


.Icon-Profil {
  margin: 0px 7px;
}


.right-icon, .left-icon {
  font-size: 30px;
  color: var(--secondary-color--);
  }

  section {
    border: 3px inset var(--primary-color--);
   
  }


/*! HEADER + NAV*/

nav {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
text-decoration: none;
width: 100%;
margin: 10px auto;
padding: 0px;

}

#nav-list a {

  margin: 5px 20px;
 font-style: italic;
  font-weight: bold;
  color: var(--primary-color--);
}

#nav-list a:hover {
  color: whitesmoke;
  border-bottom: 1px solid var(--tertiary-color--);
}

#logo-div a{
  display: flex;
  align-items: center;
}

#logo {
  width: 250px;
  margin: 0px auto;
}


/*! SECTION PROFIL */

#Profil {
  width: 100%;
  padding: 15px 0px;
  margin: 30px 0px;
}


#Profil img {
  border-radius: 50%;
  border: 6px solid var(--primary-color--);
  width: 45%;
  display: block;
  margin: 50px auto;
}

/*! SECTION FORMATION */

#Formation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Icon-formation {
  border: 3px solid var(--primary-color--);
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-size: 35px;
}

article h3 {
  color: var(--tertiary-color--);
  font-size: 27px;
  margin: 15px 0px 10px;

}

#Formation article {
  width: 45%;
  margin: 30px auto;
}

.date {
  color: var(--secondary-color--);
  font-weight: bold;
  margin: 0px;
  font-size: 20px;
}





