body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color-- : #FFDE59;
  --secondary-color-- : #38B6FF;
  --tertiary-color-- : #FF914D;
  --font-h1-- : "Open Sans";
  --font-h2-- : "Segoe UI"
}

h1{
  text-align: center;
  font-weight: bold;
  margin: 0px;
  font-family: var(--font-h1--);
  color: var(--primary-color--);
  font-size: 35px;
}

h1 span {
  color: whitesmoke;
}



p {
  text-align: center;
}

a{
  text-decoration: none;
  list-style: none;
}

h2{
  color: var(--tertiary-color--);
  text-align: center;
  font-size: 35px;
  font-family: var(--font-h2--);
}


.Icon-Profil {
  margin: 0px 7px;
}




/*! HEADER + NAV*/

nav {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
text-decoration: none;
width: 100%;
margin: 10px auto;
padding: 0px;

}

#nav-list a {

  margin: 5px 20px;
 font-style: italic;
  font-weight: bold;
  color: var(--primary-color--);
}

#nav-list a:hover {
  color: whitesmoke;
  border-bottom: 1px solid var(--tertiary-color--);
}

#logo-div a{
  display: flex;
  align-items: center;
}

#logo {
  width: 250px;
  margin: 0px auto;
}


/*! SECTION PROFIL */

#Profil {
  width: 100%;
  padding: 30px 0px;
  margin: 30px 0px;
}


#Profil img {
  border-radius: 50%;
  border: 6px solid var(--primary-color--);
  width: 45%;
  display: block;
  margin: 50px auto;
}

#Span-Profil { 
  color: var(--secondary-color--);
  margin-left: 15px;
}

.right-icon {
  position: absolute;
  top: 53.3%;

  }

.right-icon, .left-icon {
font-size: 35px;
color: var(--secondary-color--);
}





